# App settings
APP_NAME=LEARN_NESTJS_SERVER
NODE_ENV=development
APP_PORT=3000

JWT_ACCESS_SECRET=learn_nestjs_access_server
JWT_REFRESH_SECRET=learn_nestjs_refresh_server
JWT_REFRESH_EXPIRATION=7d
JWT_ACCESS_EXPIRATION=15m
JWT_VERIFY_EMAIL_SECRET=verify_email_secret
JWT_VERIFY_EMAIL_EXPIRATION=1d 
JWT_RESET_PASSWORD_SECRET=reset_password_secret
JWT_RESET_PASSWORD_EXPIRATION=1d

DATABASE_URL=postgresql://postgres:password@localhost:5432/learn_nestjs_db?schema=public
USER_EMAIL=sondev2k3@gmail.com
USER_PASSWORD=eeip jewt hrxp buyn
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
API_URL=http://localhost:3000/api/v1