# App settings
APP_NAME=LEARN_NESTJS_SERVER
NODE_ENV=development
APP_PORT=3000

JWT_ACCESS_SECRET=learn_nestjs_access_server
JWT_REFRESH_SECRET=learn_nestjs_refresh_server
JWT_REFRESH_EXPIRATION=7d
JWT_ACCESS_EXPIRATION=15m

DATABASE_URL=postgresql://postgres:password@localhost:5432/learn_nestjs_db?schema=public